<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            <title/>
        </title>

        <link rel="bookmark" type="image/x-icon" href="static/icons/FF7.ico" mce_href="static/icons/FF7.ico">
        <link rel="icon" type="image/x-icon" href="static/icons/FF7.ico" mce_href="static/icons/FF7.ico">
        <link rel="shortcut icon" type="image/x-icon" href="static/icons/FF7.ico" mce_href="static/icons/FF7.ico">

        <link style="text:css" rel="stylesheet" href="static/css/bootstrap.css">
        <link style="text:css" rel="stylesheet" href="static/css/bootstrap.min.css">
        <link style="text:css" rel="stylesheet" href="static/css/bootstrap-theme.css">

    </head>
    <body>
        <body/>
    </body>
</html>